<!-- Map -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
var marker;
var map;

function initialize() {
	var yeondooLatlng = new google.maps.LatLng(37.5793285, 126.9824502);

	var mapOptions = {
		zoom: 15,
		center: yeondooLatlng
	};

	map = new google.maps.Map(document.getElementById('map-canvas'),
		mapOptions);

	marker = new google.maps.Marker({
			position: yeondooLatlng,
			map: map,
			title: 'Yeondoo',
			animation: google.maps.Animation.DROP,
	});

	google.maps.event.addListener(marker, 'click', toggleBounce);
}

function toggleBounce() {
	if (marker.getAnimation() != null) {
		marker.setAnimation(null);
	} else {
		marker.setAnimation(google.maps.Animation.BOUNCE);
	}
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"></div>

<script>
// This is called with the results from from FB.getLoginStatus().
function statusChangeCallback(response) {
console.log('statusChangeCallback');
console.log(response);
// The response object is returned with a status field that lets the
// app know the current login status of the person.
// Full docs on the response object can be found in the documentation
// for FB.getLoginStatus().
if (response.status === 'connected') {
// Logged into your app and Facebook.
testAPI();
} else if (response.status === 'not_authorized') {
// The person is logged into Facebook, but not your app.
document.getElementById('status').innerHTML = 'Please log ' +
'into this app.';
} else {
// The person is not logged into Facebook, so we're not sure if
// they are logged into this app or not.
document.getElementById('status').innerHTML = 'Please log ' +
'into Facebook.';
}
}

// This function is called when someone finishes with the Login
// Button.  See the onlogin handler attached to it in the sample
// code below.
function checkLoginState() {
FB.getLoginStatus(function(response) {
statusChangeCallback(response);
});
}
</script>

<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button> -->

<div class="fb-like-box-wrapper"><div class="fb-like-box" data-href="https://www.facebook.com/ydcoffee" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false" data-width="320"></div></div>