<h1>Welcome to Yeondoo</h1>
<h2>The base cafe in Samcheong-dong area</h2>

<!-- Map -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
var marker;
var map;

function initialize() {
	var yeondooLatlng = new google.maps.LatLng(37.5793285, 126.9824502);

	var mapOptions = {
		zoom: 15,
		center: yeondooLatlng
	};

	map = new google.maps.Map(document.getElementById('map-canvas'),
		mapOptions);

	marker = new google.maps.Marker({
			position: yeondooLatlng,
			map: map,
			title: 'Yeondoo',
			animation: google.maps.Animation.DROP,
	});

	google.maps.event.addListener(marker, 'click', toggleBounce);
}

function toggleBounce() {
	if (marker.getAnimation() != null) {
		marker.setAnimation(null);
	} else {
		marker.setAnimation(google.maps.Animation.BOUNCE);
	}
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div>Map</div>
<div id="map-canvas"></div>

<!-- Menu -->
<div>Menu</div>
<ol>
	<li>Drip coffee
		<ul>
			<li>Brazil</li>
			<li>Honduras</li>
		</ul>
	</li>

	<li>Dessert
		<ul>
			<li>Cake</li>
			<li>Bagle</li>
		</ul>
	</li>
</ol>

<!-- General info -->
<div>General info</div>
<ul>
	<li>Hours
		<p>10:00 - 22:00</p>
	</li>

	<li>Address
		<p>Seoul</p>
	</li>
</ul>