// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brown-color: #5a4132;
$light-brown-color: #f9f3e8;
$green-color: #7fb241;

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #777;
}

a {
	text-decoration: none;
    outline: 0;

    &:hover, &:active, &:focus {
        outline: 0;
    }
}

hr {
    height: 1px;
    border: 0;
    color: #bbb;
    background-color: #bbb;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
}

h3 {
    font-size: 1.1em;
    text-align: center;
    margin: 13px 0;
}

header {
	background-size: cover;
	background-image: image-url("closed.jpg");
	min-height: 250px;
	text-align: center;
	padding: 20px 0 0;
	color: #000;
	line-height: 1.5em;
	position: relative;

	&.isOpen {
		background-image: image-url("open.jpg")
	}

	.background-opacity {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		position: absolute;
		top: 0;
	}

	.logo-image {
		width: 130px;
		position: absolute;
		left: calc(50% - 65px);
		top: 25px;
		z-index: 100;
	}
	.text {
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.0);
		position: absolute;
		width: calc(100% - 20px);
		bottom: 25px;
		z-index: 100;
		font-weight: 400;
		color: #ccc;

		.open {
			color: #0f0;
		}
		.closed {
			color: #f00;
		}
	}
}

.map-canvas-wrapper {
	padding: 20px;
}

#map-canvas {
	width: 100%;
	height: 100%;
	min-height: 300px;
	margin: 0px;
	padding: 0px
}

.fb-posts-wrapper {
	padding: 20px;

    h2 {
        margin-top: 0;
    }

	.fb-post {
		padding: 10px 0;
		line-height: 1.5em;

		.fb-post-date {
			font-weight: 700;
			text-align: center;
			font-size: 1.3em;
			margin-bottom: 10px;
		}

		.fb-post-image {
			text-align: center;

			img {
				width: 100%;
				max-width: 600px;
			}
		}

		.fb-post-message {
			p {
				margin-bottom: 10px;

				&:first-child {
					margin-top: 10px;
				}

				&:last-child {
					margin: 0;
				}
			}
		}
	}
}

footer {
	background-color: #000;
	color: #fff;
	font-size: 0.8em;
	text-align: center;
	padding: 20px 10px 10px;
	line-height: 1.5em;

	a {
		color: #bbb
	}
	.content {
		font-style: italic;
	}
	.name {
		font-size: 0.8em;
		margin-bottom: 20px;
	}
}

/* From Purecss.io */

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
#layout.active {
	position: relative;
	left: 150px;
}
#layout.active #menu {
	left: 150px;
	width: 150px;
}

#layout.active .menu-link {
	left: 150px;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: $brown-color;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: $light-brown-color;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

.blog {
    padding: 20px;
}

.menu-wrapper {
    padding: 20px;

    h3 {
        margin-top: 20px;
    }

    .menu {
        margin: 10px;
        clear: both;

        .menu-price {
            float: right;
        }
    }
}