.post-wrapper {
	padding: 20px;

	a {
		color: #666;
	}

	.post-thumbnail {
		text-align: center;
	}

	.blog-post {
		padding: 10px 0;

		.post-detail {
			text-align: center;

			span {
				font-size: 0.8em;
			}
		}
	}
}